.flexshop-add-success{
	position: fixed; width: 300px; height: auto; z-index: 100; background: green;top: 50%;right: 0;padding: 20px;color: #fff; display:none
}
.flexshop-add-success.is-active{
	display:block
}

#paypal-button-container{
	position: absolute;
	z-index:10;
	right: 15px;
	width: 230px;
}

button[name=send-form-summary]{
	position: relative;
	z-index:20;
}
